{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span8">
    <h1>{{ post.title }}</h1>
    <div class="span3">
        <small>{{ post.date }}</small>
    </div>
    <div class="span3">
        {% for tag in post.get_tags %}
            {{ tag }}, 
        {% endfor %}
    </div>
    <br /><br />
    <p>{{ post.body }}</p>
    <h5> Category </h5>
        <ul>
            <li> {{ post.category }} </li>
        </ul>
    </div>
    {% include "navigation.html" %}
</div>
</div>
{% endblock %}
